################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookingSystem.API/obj
/BookingSystem.API/.vs/BookingSystem.API
/BookingSystem.API/bin/Debug/net6.0
/.vs
/BookingSystem.Database/bin/Debug
/BookingSystem.Database/obj/Debug
/BookingSystem.Domain/obj
/BookingSystem.Storage/obj
/BookingSystem.Contracts/obj
/BookingSystem.Contracts/bin/Debug/net6.0
/BookingSystem.Domain/bin/Debug/net6.0
/BookingSystem.Services/obj
/BookingSystem.Services/bin/Debug/net6.0
/BookingSystem.Storage/bin/Debug/net6.0
/BookingSystem.Queries/obj
/BookingSystem.Queries/bin/Debug/net6.0
