.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.name-company {
    margin-left: 20px;
}

.container {
    overflow-x: hidden;
}

.table {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.spacer {
    flex: 1;
}